:root {
  --background-color: hsl(0, 0%, 98%);
  --text-color-lightness: 27%;
  --text-color: hsl(0, 0%, var(--text-color-lightness));
  --header-text-color: hsl(0, 0%, calc(var(--text-color-lightness) - 18%));
  --link-text-color: hsl(0, 0%, calc(var(--text-color-lightness) - 7%));
  --link-text-hover-color: hsl(0, 0%, calc(var(--text-color-lightness) - 27%));
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: hsl(212, 15%, 22%);
    --text-color-lightness: 85%;
    --header-text-color: hsl(0, 0%, calc(var(--text-color-lightness) + 8%));
    --link-text-color: hsl(0, 0%, calc(var(--text-color-lightness) + 5%));
    --link-text-hover-color: hsl(0, 0%, calc(var(--text-color-lightness) + 15%));
  }
}

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

body {
  margin-top: 2em;
  margin-bottom: 18em;
  margin-bottom: 50vh;
  font-family: "Computer Modern Serif", "Georgia", "Times New Roman", serif;
  font-size: clamp(1rem, calc(0.4em + 1vw), 1.5rem);
  line-height: 1.4;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  background: var(--background-color);
  color: var(--text-color);
}

* {
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 calc(0.2em + 5vw);
}

.label {
  display: block;
  margin-bottom: 0.2em;
  font-weight: bold;
}

@media (min-width: 580px) {
  .container {
    display: grid;
    grid-template-columns: [sidebar-start] 6fr [sidebar-end main-start] 12fr [main-end] 2fr;
    grid-column-gap: 0px;
    max-width: 52em;
    margin: 0 auto;
  }

  .main-header {
    grid-column: 2 / 4;
  }

  .main {
    grid-column: main;
  }

  .sidebar {
    grid-column-start: sidebar;
  }

  .label {
    display: inherit;
    margin-right: 1em;
    text-align: right;
    font-weight: normal;
  }

  .detail {
    margin-bottom: 0.5em;
  }
}

h1, h2, h3, h4, h5, h6 {
  color: var(--header-text-color);
  font-weight: normal;
}

h1 {
  font-size: 2.6em;
  line-height: 1.2;
  margin-bottom: 0.5em;
}

h2 {
  font-size: 1.7em;
  line-height: 1.2;
  margin-bottom: 0.8em;
}

h4 {
  font-size: 1.2em;
  margin-bottom: 0.2em;
}

p {
  margin-bottom: 1.2em;
}

button {
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent;
  font: inherit;
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

.item {
  display: block;
  margin-bottom: 0.2em;
}

.skills {
  text-align: left;
  margin-bottom: 1em;
  list-style: none;
}

.skills .tag {
  display: inline-block;
  padding: 2px 7px;
  margin-bottom: 4px;
  line-height: 1;
  border: 1px solid currentColor;
  border-radius: 4px;
}

button,
a,
a:visited {
  color: var(--link-text-color);
}

.em-link {
  text-decoration-color: var(--link-text-color);
  text-decoration-line: underline;
  text-decoration-style: dotted;
  text-decoration-thickness: from-font;
}

@media (hover: hover) {
  button:hover,
  button:focus,
  a:hover,
  a:focus {
    color: var(--link-text-hover-color);
  }

  .em-link:hover {
    text-decoration-style: solid;
    text-decoration-color: var(--link-text-hover-color);
  }
}

.header-link {
  display: none;
  font-size: 0.6em;
  vertical-align: 0.2em;
  font-weight: 400;
  text-decoration: none;
  border-bottom: none;
}

hr {
  margin: 0 0 1.2em 0;
  border-style: dashed;
  border-color: currentColor;
  border-width: 1px 0 0 0;
}

.section-header {
  scroll-margin-top: 0.8em;
}

.section-header:hover > .header-link {
  display: inline;
}

.gotop-button,
.print-button {
  position: fixed;
  text-shadow: 0 0 5px var(--background-color);
}

.gotop-button {
  right: 2em;
  bottom: 2em;
  transition: opacity .4s;
  opacity: 0;
  pointer-events: none;
}

.opaque {
  opacity: 1;
  pointer-events: unset;
}

.print-button {
  display: none;
  left: 2em;
  top: 2em;
}

@media
  /* ----------- Non-Retina Screens ----------- */
  screen
  and (min-width: 1024px)
  and (-webkit-min-device-pixel-ratio: 1)
,
  /* ----------- Retina Screens ----------- */
  screen
  and (min-width: 1024px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi)
{
  .print-button {
    display: block;
  }
}

@media only screen and (max-width: 479px) {
  section {
    text-align: left;
  }
}

@media print {
  body {
    background: white;
    color: black;
    margin: 0;
    padding: 0 !important;
    font-size: 12px;
    line-height: 1.2;
  }

  .container {
    grid-template-columns: [sidebar-start] 4fr [sidebar-end main-start] 9fr [main-end] 3fr;
  }

  h1, h2, h3, h4, h5, h6, ul, ol, img {
    break-after: avoid-page;
  }

  a[href^="http"]:after {
    content: " (" attr(href) ") ";
    font-size: 0.8em;
    font-weight: normal;
  }

  .no-print {
    display: none !important;
  }

  .em-link,
  .em-link:visited,
  .em-link:hover,
  .em-link:focus {
    text-decoration: none;
  }
}

@font-face {
  font-family: "Computer Modern Serif";
  src: url("fonts/cmu_serif_roman.eot");
  src: url("fonts/cmu_serif_roman.eot?#iefix") format("embedded-opentype"),
    url("fonts/cmu_serif_roman.woff") format("woff"),
    url("fonts/cmu_serif_roman.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Computer Modern Serif";
  src: url("fonts/cmu_serif_italic.eot");
  src: url("fonts/cmu_serif_italic.eot?#iefix") format("embedded-opentype"),
    url("fonts/cmu_serif_italic.woff") format("woff"),
    url("fonts/cmu_serif_italic.ttf") format("truetype");
  font-style: italic;
  font-weight: normal;
}

@font-face {
  font-family: "Computer Modern Serif";
  src: url("fonts/cmu_serif_bold_italic.eot");
  src: url("fonts/cmu_serif_bold_italic.eot?#iefix") format("embedded-opentype"),
    url("fonts/cmu_serif_bold_italic.woff") format("woff"),
    url("fonts/cmu_serif_bold_italic.ttf") format("truetype");
  font-style: italic;
  font-weight: bold;
}

@font-face {
  font-family: "Computer Modern Serif";
  src: url("fonts/cmu_serif_bold.eot");
  src: url("fonts/cmu_serif_bold.eot?#iefix") format("embedded-opentype"),
    url("fonts/cmu_serif_bold.woff") format("woff"),
    url("fonts/cmu_serif_bold.ttf") format("truetype");
  font-style: normal;
  font-weight: bold;
}
